

<div id="user-list-holder">
<% if !@users.empty?%>
	<%= will_paginate @users, :param_name => :user_page %>

	<ul id="user-list">
		<% @users.each do | user | %>
		<li><%= render :partial => "accountable/accounts/users/user", :object => user %></li>
		<% end %>
	</ul>

	<%= will_paginate @users, :param_name => :user_page %>
<% end %>
</div>
