<% editable = defined?(editable) ?  editable : false %>

<% if f.object.assetable.nil? || editable %>

<div class="form-row">
	<%= f.input :attachment, :label => asset_label %>
</div>

<div class="form-row">
	<a href="#" class="add">Add image by URL</a>
	<%= f.input :asset_url, :label => asset_url_label ||= 'Image URL', :wrapper_html => { :class => 'form-item long hide' }, :label_html => { :class => 'form-label' } %>
</div>
<% end %>
